.widget_boxes {
  .footer & {
    .row > div {
      @extend .clearfix;

      float : none;
      width : 100%;
      }
    }
  }

.box {
  @media (max-width : $screen-xs-max) {
    margin-bottom : 30px;
    }

  .footer & {
    margin : 0 0 20px 0;
    }
  }

.box-icon {
  position         : relative;
  float            : left;
  margin           : 0 20px 0 0;
  width            : 72px;
  height           : 72px;
  border           : 1px solid #f0f0f0;
  border-radius    : 50%;
  background-color : $color-white;
  color            : $color-primary;
  text-align       : center;
  font-size        : 34px;
  line-height      : 68px;

  .fa {
    position          : absolute;
    top               : 50%;
    left              : 50%;
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform         : translateX(-50%) translateY(-50%);
    }

  .fa-map {
    font-size : 32px;
    }

  .footer & {
    margin           : -3px 20px 0 0;
    width            : 28px;
    border           : 0;
    border-radius    : 0;
    background-color : transparent;
    color            : $color-primary;
    font-size        : 25px;
    line-height      : 1;

    .fa-mobile {
      font-size : 32px;
      }

    .fa {
      position          : relative;
      top               : auto;
      left              : auto;
      -webkit-transform : none;
      transform         : none;
      }
    }
  }

.box-body {
  display : table-cell;

  .box-title {
    margin      : 24px 0 20px 0;
    font-weight : 300;
    font-size   : 24px;

    .footer & {
      margin    : 0 0 15px 0;
      color     : $color-white;
      font-size : 16px;
      }
    }

  .box-content {
    margin      : 0;
    color       : $color-gray-darker;
    line-height : 1.5;

    .footer & {
      color : rgba($color-white, 0.8);
      }
    }

  .box-read-more {
    display    : block;
    margin-top : 10px;
    color      : $color-primary;

    .fa {
      margin-left      : 5px;
      width            : auto;
      height           : auto;
      background-color : transparent;
      vertical-align   : -1px;
      font-size        : 18px;
      }
    }

  a.fa, a .fa {
    display          : inline-block;
    margin-right     : 10px;
    margin-left      : 0;
    width            : 24px;
    height           : 24px;
    border-radius    : 50%;
    background-color : $color-primary;
    text-align       : center;
    font-size        : 12px;
    line-height      : 25px;
    transition       : all linear .15s;

    &:hover {
      color : $color-white;
      }
    }
  }
