#cboxOverlay {
  background-color : rgba(black, .9);
  background-image : none;
  }

#cboxTopLeft, #cboxTopCenter, #cboxTopRight, #cboxMiddleLeft, #cboxMiddleRight, #cboxBottomLeft, #cboxBottomCenter, #cboxBottomRight {
  display : none;
  }

#cboxCurrent {
  display : none !important;
  }

#cboxPrevious, #cboxNext {
  position         : absolute;
  top              : 50%;
  left             : 0;
  width            : 40px;
  height           : 0;
  background-color : rgba(black, .7);
  background-image : none;
  text-indent      : 0;
  font-size        : 0;
  transform        : transitionY(-50%);

  &:after {
    position               : relative;
    width                  : 40px;
    height                 : auto;
    background-color       : transparent;
    font-size              : 24px;
    font-family            : 'FontAwesome';
    transition             : color .15s linear;
    -webkit-font-smoothing : antialiased;
    }

  &:focus {
    outline : 0 !important;
    }
  }

#cboxPrevious {
  position : absolute;
  left     : 0;

  &:after {
    margin-left : -3px;
    content     : '\f053';
    }
  }

#cboxNext {
  right : 0;
  left  : auto !important;

  &:after {
    margin-right : -5px;
    content      : '\f054';
    }
  }

#colorbox, #cboxOverlay, #cboxWrapper, #cboxContent {
  overflow : visible !important;
  }

#colorbox {
  z-index : 99999;
  }

#cboxLoadedContent {
  margin : 0;
  }

#cboxClose {
  position         : absolute;
  top              : 0;
  right            : 0;
  width            : 40px;
  height           : 40px;
  background-color : rgba(black, .7);
  background-image : none;
  text-indent      : 0;
  font-size        : 0;

  &:after {
    position               : relative;
    display                : block;
    margin                 : 0;
    padding                : 0;
    width                  : 40px;
    height                 : 40px;
    color                  : $color-white;
    content                : '\f00d';
    text-indent            : 0;
    font-size              : 24px;
    font-family            : 'FontAwesome';
    transition             : color .15s linear;
    -webkit-font-smoothing : antialiased;
    }
  }
