.comments-area {
  margin-bottom : 60px;
  }

.comment-list {
  padding-left : 0;
  }

.comment {
  margin : 0 0 30px 0;

  &.last {
    margin-bottom : 0;
    }
  }

.comment-image {
  position      : relative;
  float         : left;
  overflow      : hidden;
  width         : 80px;
  border-radius : 50%;

  img {
    width  : 80px;
    height : auto;
    }
  }

.comment-inner {
  position         : relative;
  margin           : 0 0 0 120px;
  padding          : 20px;
  border           : 2px solid $color-gray;
  background-color : $color-white;

  &:before {
    position           : absolute;
    top                : 20px;
    left               : -42px;
    display            : block;
    border             : 20px solid transparent;
    border-right-color : $color-gray;
    content            : '';
    }

  &:after {
    position           : absolute;
    top                : 21px;
    left               : -38px;
    display            : block;
    border             : 19px solid transparent;
    border-right-color : $color-white;
    content            : '';
    }
  }

.comment-header {
  overflow      : hidden;
  margin        : 12px 0 25px 0;
  padding       : 0 0 25px 0;
  border-bottom : 1px solid $color-gray;

  h2 {
    float          : left;
    margin         : 2px 0 0;
    padding-bottom : 0;
    border-bottom  : none;
    text-transform : uppercase;
    font-weight    : 400;
    font-size      : 15px;
    line-height    : 1;
    }

  .separator {
    margin         : 0 15px 0 20px;
    color          : darken($color-gray, 15%);
    vertical-align : 3px;
    font-size      : 8px;
    }
  }

.comment-content-wrapper {
  display : table;
  width   : 100%;
  }

.comment-content {
  display : table-cell;
  }

.comment-reply-link {
  position    : relative;
  float       : right;
  color       : $color-gray-dark;
  font-size   : 14px;

  i {
    line-height : 1;
    margin-right   : 5px;
    color          : $color-primary;
    vertical-align : 2px;
    font-size      : 10px;
    };

  &:hover {
    color : $color-primary;
    }

  }

.comment {
  &:first-child .comment-children {
    margin-top : 30px;
    }

  .comment-children {
    margin-left : 40px;
    }
  }

.add-comment {
  .form-allowed-tags {
    margin-top  : 10px;
    font-size   : 12px;
    line-height : 20px;

    code {
      font-size : 11px;
      }
    }

  button {
    margin-top : 12px;
    }
  }

.comment-navigation {
  overflow : auto;
  }

#comment-nav-above {
  margin-bottom : 30px;
  }

#comment-nav-below {
  margin-top : 30px;
  }

.comment-reply-title {
  @extend h2;
  }

.comment-form {
  @extend .clearfix;
  padding          : 20px;
  background-color : $color-white;
  }

.form-allowed-tags {
  float         : left;
  margin-top    : -4px;
  padding-right : 20px;
  width         : 75%;
  font-size     : 11px;
  line-height   : 2;

  code {
    font-size : 11px;
    }
  }

.form-submit {
  float : left;
  width : 30%;
  }

#cancel-comment-reply-link {
  @extend .btn-secondary;
  display                : inline-block;
  float                  : right;
  margin-bottom          : 10px;
  padding                : 6px 10px;
  font-size              : 12px;
  transition             : all linear .15s;
  -webkit-font-smoothing : auto;

  &:before {
    margin-right           : 6px;
    content                : "\f00d";
    font-family            : fontawesome;
    -webkit-font-smoothing : antialiased;
    }
  }

@media (max-width : $screen-sm-max) {
  .form-allowed-tags, .form-submit {
    width         : 100%;
    padding-right : 0;
    }
  }
