.coupon-detail {
  margin-top : 32px;
  }

/******************************************************************
 * Coupon Gallery
 ******************************************************************/
#coupon-detail-section-gallery {
  margin-top : -12px;

  .page-header {
    display : none;
    }
  }

.coupon-detail-gallery-outer {
  margin : 0 0 60px 0;
  }

.coupon-detail-gallery {
  a {
    visibility : hidden;
    }

  .owl-item a {
    visibility : visible;
    }

  .item-image {
    height              : 450px;
    background-position : center center;
    background-size     : 100% auto;
    background-repeat   : no-repeat;

    @media (min-width : $screen-md-min) and (max-width : $screen-md-max) {
      height : 380px;
      }

    @media (min-width : $screen-sm-min) and (max-width : $screen-sm-max) {
      height : 300px;
      }

    @media (min-width : $screen-xs-min) and (max-width : $screen-xs-max) {
      height : 250px;
      }
    }
  }

.coupon-detail-gallery-preview {
  padding          : 0 50px;
  background-color : $color-white;

  .owl-item {
    border-bottom : 2px solid transparent;
    cursor        : pointer;
    transition    : all linear .15s;

    &.highlighted {
      border-color : $color-primary;
      }

    div {
      display : inline-block;
      margin  : 0 10px;
      padding : 20px 0;
      }
    }

  .owl-stage {
    margin-right : auto;
    margin-left  : auto;
    }

  .owl-next, .owl-prev {
    @extend .btn-primary;
    position          : absolute;
    top               : 50%;
    padding           : 0;
    line-height       : 1;
    transition        : all linear .15s;
    -webkit-transform : translateY(-50%);
    transform         : translateY(-50%);

    i {
      margin           : 0;
      padding          : 3px 0;
      height           : auto;
      background-color : transparent;
      font-size        : 18px;
      transition       : all linear .15s;
      }

    &:hover {
      background-color : $color-primary;

      i {
        color : $color-white;
        }
      }
    }

  .owl-next {
    right   : 14px;
    padding : 5px 9px 4px 10px;
    }

  .owl-prev {
    left    : 14px;
    padding : 5px 10px 4px 9px;
    }
  }

/******************************************************************
 * Coupon Small
 ******************************************************************/
.coupon-small {
  margin           : 0 0 30px 0;
  background-color : $color-white;

  &:hover {
    .coupon-small-image-link {
      background-color : rgba($color-black, .7);
      opacity          : 1;

      &:after {
        opacity : 1;
        }
      }
    }
  }

.coupon-small-image {
  position            : relative;
  height              : 100px;
  background-position : center center;
  background-size     : cover;
  background-repeat   : no-repeat;

  &:hover {
    .coupon-box-image-content {
      opacity : 1;
      }
    }
  }

.coupon-small-image-link {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  z-index  : 10;
  display  : block;

  &:after {
    position          : absolute;
    top               : 50%;
    left              : 50%;
    display           : inline-block;
    padding-top       : 4px;
    width             : 30px;
    height            : 30px;
    border            : 1px solid $color-white;
    border-radius     : 50%;
    color             : $color-white;
    content           : "\f06e";
    text-align        : center;
    font-family       : 'FontAwesome';
    opacity           : 0;
    transition        : all linear .2s;
    -webkit-transform : translateY(-50%) translateX(-50%);
    transform         : translateY(-50%) translateX(-50%);
    }
  }

.coupon-small-image-label {
  position         : absolute;
  top              : 0;
  left             : 20px;
  padding          : 4px 0;
  width            : 42px;
  background-color : $color-green;
  color            : $color-white;
  text-align       : center;
  font-weight      : 500;
  font-size        : 13px;
  }

.coupon-small-image-location {
  position    : absolute;
  bottom      : 10px;
  left        : 20px;
  display     : block;
  color       : $color-white;
  font-weight : 500;
  font-size   : 12px;

  a {
    color : $color-white;
    }
  }

.coupon-small-image-shadow {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  background-image : linear-gradient(to top, rgba(black, .3), transparent 50%);
  }

.coupon-small-content {
  padding : 20px;

  h2 {
    display       : block;
    overflow      : hidden;
    margin        : 0;
    padding       : 0;
    text-overflow : ellipsis;
    white-space   : nowrap;
    font-weight   : 400;
    font-size     : 15px;

    a {
      color : $color-black;

      &:active, &:focus {
        color           : $color-primary;
        text-decoration : none;
        }
      }
    }

  p {
    margin      : 0;
    font-size   : 12px;
    line-height : 20px;
    }
  }

/******************************************************************
 * Coupon Box
 ******************************************************************/
.coupon-box {
  margin           : 0 0 30px 0;
  background-color : $color-white;
  }

.coupon-box-image {
  position            : relative;
  height              : 160px;
  background-position : center center;
  background-size     : cover;
  background-repeat   : no-repeat;

  &:hover {
    .coupon-box-image-content {
      opacity : 1;
      }
    }

  .listing-box-rating {
    position  : absolute;
    right     : 20px;
    bottom    : 18px;
    font-size : 13px;
    opacity   : 1;
    }
  }

.coupon-box-image-link {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
  display  : block;
  }

.coupon-box-image-discount {
  position         : absolute;
  top              : 0;
  left             : 20px;
  padding          : 6px 0;
  width            : 52px;
  background-color : $color-green;
  color            : $color-white;
  text-align       : center;
  font-weight      : 500;
  font-size        : 15px;
  }

.coupon-box-image-location {
  position    : absolute;
  bottom      : 20px;
  left        : 20px;
  display     : block;
  color       : $color-white;
  font-weight : 500;
  font-size   : 12px;

  a {
    color : $color-white;
    }
  }

.coupon-box-image-shadow {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  background-image : linear-gradient(to top, rgba(black, .3), transparent 50%);
  }

.coupon-box-image-content {
  position         : absolute;
  top              : 10px;
  right            : 10px;
  bottom           : 10px;
  left             : 10px;
  background-color : rgba($color-primary, .9);
  color            : $color-white;
  opacity          : 0;
  transition       : opacity .2s linear;

  p {
    position    : absolute;
    top         : 50%;
    margin      : 0;
    padding     : 20px;
    font-size   : 13px;
    line-height : 20px;
    transform   : translateY(-50%);
    }
  }

.coupon-box-content {
  padding : 20px;

  h2 {
    display       : block;
    overflow      : hidden;
    margin        : 0;
    padding       : 0;
    text-overflow : ellipsis;
    white-space   : nowrap;
    font-weight   : 400;
    font-size     : 15px;

    a {
      color : $color-black;

      &:active, &:focus {
        color           : $color-primary;
        text-decoration : none;
        }
      }
    }

  p {
    margin      : 0;
    font-size   : 12px;
    line-height : 20px;
    }
  }

.coupon-box-content-sub {
  margin    : 7px 0 0 0;
  font-size : 12px;
  }

.coupon-box-content-view {
  float : right;
  }

/******************************************************************
 * Coupon Detail Widget
 ******************************************************************/
.widget_coupon_detail {
  .widget-content {
    padding          : 20px;
    background-color : $color-white;

    h3 {
      margin      : 20px 0 5px 0;
      font-weight : 400;
      font-size   : 13px;
      }
    }
  }

.widget_coupon_detail_button {
  position         : relative;
  display          : block;
  padding          : 15px 0;
  background-color : $color-green;
  color            : $color-white;
  text-align       : center;
  text-transform   : uppercase;
  font-weight      : 700;
  font-size        : 13px;

  &:active, &:focus, &:hover {
    background-color : darken($color-green, 4%);
    color            : $color-white;
    text-decoration  : none;
    }

  &:after {
    position         : absolute;
    right            : 0;
    bottom           : 0;
    left             : 0;
    display          : block;
    height           : 2px;
    background-color : rgba(black, .2);
    content          : '';
    }
  }

.widget_coupon_detail_description {
  font-size   : 12px;
  line-height : 20px;

  ul {
    li {
      &:last-child {
        border-bottom : 0;
        }
      }
    }
  }

.widget_coupon_detail_available_code, .widget_coupon_detail_expiration {
  margin : 7px 0 0 0;
  }

.widget_coupon_detail_warning {
  padding          : 12px 20px;
  background-color : $color-warning;
  color            : $color-white;
  }
