html {
  height : 100%;
  }

body {
  overflow-x             : hidden;
  width                  : 100%;
  height                 : 100%;
  background-color       : $color-white;
  color                  : $color-gray-darker;
  font-size              : 14px;
  font-family            : 'Roboto', Arial, sans-serif;
  -webkit-font-smoothing : antialiased;

  &.admin-bar {
    padding-top : 32px;

    @media screen and (max-width : 782px) {
      padding-top : 46px;
      }
    }
  }

::-moz-selection {
  background : rgba($color-primary, .7);
  color      : $color-white;
  }

::selection {
  background : rgba($color-primary, .7);
  color      : $color-white;
  }

a {
  color      : $color-primary;
  transition : color .15s linear;

  &:hover {
    color           : darken($color-primary, 5%);
    text-decoration : none;
    }
  }

table {
  @extend .table;
  margin-bottom    : 40px;
  background-color : $color-white;
  }

p {
  line-height : 24px;
  }

h1, h2, h3, h4, h5, h6 {
  color : $color-black;
  }

h1, h2, h3 {
  margin-bottom : 30px;
  font-weight   : 300;
  }

h1 {
  font-size : 30px;
  }

h2 {
  font-size : 26px;
  }

h3 {
  font-size : 22px;
  }

h4, h5, h6 {
  margin-bottom : 10px;
  font-weight   : normal;
  }

h4 {
  font-size : 18px;
  }

h5 {
  font-size : 16px;
  }

h6 {
  font-size : 14px;
  }

ol {
  li {
    margin-bottom : 15px;
    }
  }

mark {
  margin           : 0 3px;
  padding          : 2px;
  border-radius    : 4px;
  background-color : $color-primary;
  box-shadow       : 4px 0 0 $color-primary, -4px 0 0 $color-primary;
  color            : $color-white;
  }

code {
  margin           : 0 2px;
  padding          : 2px 0;
  background-color : $code-bg;
  box-shadow       : 4px 0 0 $code-bg, -4px 0 0 $code-bg;
  color            : $code-color;
  }

blockquote {
  margin           : 40px auto;
  padding          : 20px 20px;
  width            : 70%;
  border-left      : none;
  background-color : $color-white;
  color            : $color-black-light;
  quotes           : "\201C""\201D""\2018""\2019";
  text-align       : center;
  font-weight      : 300;
  font-style       : italic;
  font-size        : 24px;

  p {
    margin-top  : 0 !important;
    color       : $color-black-light !important;
    line-height : 1.4 !important;
    }

  footer {
    color : $color-primary;

    &:before {
      content : none;
      }
    }

  cite {
    display     : inline-block;
    margin-top  : 15px;
    color       : $color-primary;
    font-weight : 400;
    font-style  : normal;
    font-size   : 18px;
    }
  }

.page-wrapper {
  display          : table;
  overflow         : hidden;
  width            : 100%;
  height           : 100%;
  background-color : $color-gray-light;
  table-layout     : fixed;

  .layout-boxed & {
    overflow   : visible;
    margin     : 0 auto;
    width      : auto;
    box-shadow : 0 0 8px rgba(0, 0, 0, 0.08);

    @media (max-width : $screen-xs-max) {
      width : 100%;
      }
    }
  }

.main {
  display : table-row;
  height  : 100%;
  }

#primary .content, .page #primary .post-content, .archive #primary {
  margin : 0 0 60px;
  }

.page.page-template-page-fullwidth-no-title, .page.page-template-page-no-title {
  #primary .post-content {
    margin : 60px 0;
    }
  }

.sidebar {
  margin : 40px 0 60px 0;
  }
