.faq-item {
  position         : relative;
  margin           : 0 0 30px 60px;
  padding          : 20px;
  background-color : $color-white;

  &:before {
    position         : absolute;
    top              : 0;
    left             : -60px;
    display          : block;
    width            : 44px;
    height           : 44px;
    background-color : $color-primary;
    color            : $color-white;
    content          : 'Q';
    text-align       : center;
    font-weight      : 400;
    font-size        : 20px;
    line-height      : 46px;
    }

  &:after {
    position            : absolute;
    top                 : -5px;
    left                : -21px;
    display             : block;
    width               : 0;
    height              : 0;
    border              : 5px solid transparent;
    border-bottom-color : $color-primary;
    content             : '';
    -webkit-transform   : rotate(-45deg);
    transform           : rotate(-45deg);
    }

  &:last-of-type {
    margin-bottom : 0;
    }
  }

.faq-item-question {
  margin        : 0 0 15px 0;
  padding       : 0 0 15px 0;
  border-bottom : 1px solid $color-gray;

  h2 {
    margin  : 0;
    padding : 0;
    }
  }
