.filter {
  margin           : 0 0 40px 0;
  padding          : 20px;
  background-color : $color-white;

  .checkbox-wrapper {
    @extend .clearfix;
    margin-bottom : 10px;

    .checkbox {
      @extend .col-sm-6, .col-md-4, .col-lg-3;

      margin-top    : 7px;
      margin-bottom : 7px;
      padding       : 0;

      label {
        padding     : 0;
        color       : $color-gray-darker;
        font-weight : 400;
        }
      }
    }

  .form-group {
    margin-bottom : 25px;
    }

  button[type=submit] {
    float : right;

    @media (max-width : $screen-xs-max) {
      display : block;
      margin  : 40px 0 0 0;
      }
    }
  }

.filter-actions {
  margin-top : 10px;

  a {
    margin      : 0 30px 0 0;
    color       : rgba(black, .45);
    font-weight : 400;

    &:hover {
      color : $color-primary;
      }
    }

  .fa {
    margin         : 0 7px 0 0;
    color          : $color-gray-dark;
    vertical-align : 0;
    font-size      : 13px;
    }
  }

.filter-sort {
  float      : right;
  margin-top : -6px;

  .form-group {
    display : inline-block;
    }
  }

.filter-sorting-options {
  clear      : both;
  margin     : 0 -5px -5px -5px;
  padding    : 20px 5px 0 5px;
  border-top : 1px solid $color-gray;

  .sidebar & {
    padding : 20px 0 0 0;
    }
  }

.filter-sorting-title {
  float   : right;
  padding : 10px 15px 0 15px;
  }

.filter-sorting-content {
  float : right;

  .form-group {
    width : 210px !important;
    }
  }

.filter-sorting-inner-group {
  display : inline;
  }

.filter-sorting-inner .filter-sorting-inner-group-types {
  @media (max-width : $screen-xs-max) {
    ul {
      display : block;
      margin  : 10px 0 0 0;

      li {
        display : block;
        float   : none;
        margin  : 10px 0;
        padding : 0;

        a {
          display : block !important;
          }
        }
      }
    }
  }

.filter-sorting-inner {
  padding   : 5px 0 25px 16px;
  font-size : 12px;

  strong {
    padding        : 0 10px 0 0;
    color          : $color-black;
    vertical-align : -1px;
    font-weight    : 500;
    }

  ul {
    display : inline;
    margin  : 0;
    padding : 0 10px 0 0;

    li {
      display : inline;
      padding : 0 3px;
      border  : 0;

      a {
        display    : inline-block;
        padding    : 7px 12px;
        min-width  : 40px;
        border     : 1px solid $color-gray-medium;
        color      : $color-gray-darker;
        text-align : center;
        font-size  : 11px;
        cursor     : pointer;

        &.active {
          border-color     : $color-black-light;
          background-color : $color-black-light;
          color            : $color-white;

          &:hover {
            border-color     : $color-black-light;
            background-color : $color-black-light;
            color            : $color-white;
            }
          }

        &:hover {
          border-color : $color-black-light;
          color        : $color-black-light;
          }
        }
      }
    }

  .sidebar & {
    padding : 0;

    strong {
      display : block;
      }

    ul {
      @extend .clearfix;
      display : block;
      margin  : 5px 0;
      }

    li {
      display : block;
      float   : left;
      margin  : 5px 5px 5px 0;
      padding : 0;
      }
    }
  }

.filter-sorting-inner-group {
  @media (max-width : $screen-md-max) {
    display : block;
    margin  : 0 0 20px 0;
    }
  }

.filter-sorting-inner-group.filter-sorting-inner-group-order {
  a {
    padding-right : 0;
    padding-left  : 0;
    min-width     : 31px;
    width         : 31px;
    text-align    : center;
    }
  }

.filter-sorting-inner-styles {
  float   : right;
  padding : 0 16px;

  @media (max-width : $screen-md-max) {
    float   : none;
    padding : 0;
    }

  .sidebar & {
    float   : none;
    padding : 0;
    }

  a {
    position : relative;
    display  : inline-block;
    margin   : 0 0 0 -4px;
    padding  : 6px 12px;
    border   : 1px solid $color-gray-medium;
    color    : $color-gray-darker;

    .sidebar & {
      margin : 0;
      }

    &.active {
      z-index          : 10;
      border-color     : $color-black-light;
      background-color : $color-black-light;
      color            : $color-white;
      }
    }

  ul {
    margin  : 0;
    padding : 0;

    li {
      margin  : 0;
      padding : 0;
      }
    }

  i {
    padding-right  : 8px;
    vertical-align : middle;
    font-size      : 12px;
    }

  span {
    vertical-align : middle;
    font-size      : 11px;
    }
  }

.filter-result-numbers {
  margin      : 40px 0 0 0;
  font-weight : 200;

  span {
    font-weight : 400;

    &.match {
      color       : $color-primary;
      font-weight : 500;
      }
    }
  }

.inventor-watchdog-btn {
  display    : inline-block;
  margin-top : 10px;
  color      : $color-gray-darker;
  font-size  : 12px;

  i {
    margin           : 0 10px 0 0;
    width            : 24px;
    height           : 24px;
    border-radius    : 50%;
    background-color : $color-white;
    box-shadow       : 0 1px 2px rgba(black, .15);
    color            : $color-primary;
    vertical-align   : 2px;
    text-align       : center;
    font-size        : 11px;
    line-height      : 24px;
    }

  &:active, &:focus, &:hover {
    color           : $color-primary;
    text-decoration : none;
    }
  }
