.invoice {
  margin           : 60px 0 0 0;
  padding          : 30px;
  background-color : $color-white;
  font-size        : 13px;

  h1 {
    margin  : 0 0 40px 0;
    padding : 0
    }

  section {
    margin  : 0 0 30px 0;
    padding : 20px;
    border  : 1px solid $color-gray;

    dl {
      margin  : 0;
      padding : 0;
      }

    dt {
      float       : left;
      min-width   : 170px;
      color       : $color-gray-darker;
      font-weight : 500;
      line-height : 28px;
      }

    dd {
      display     : table-cell;
      color       : $color-black-light;
      line-height : 28px;
      }
    }

  #general {
    float : left;
    width : 32%;
    }

  #details {
    float : right;
    width : 64%;
    }

  #supplier, #customer {
    float : left;
    width : 48%;

    h2 {
      margin      : 0 0 30px 0;
      padding     : 0;
      font-weight : 500;
      font-size   : 18px;
      }
    }

  #supplier {
    clear : left;
    }

  #customer {
    float : right;
    }

  #items {
    clear : both;

    table {
      margin : 0;
      }
    }

  #total {
    margin           : 0;
    border           : 0;
    background-color : $color-gray;
    color            : $color-black-light;
    text-align       : right;
    font-weight      : 500;
    font-size        : 30px;

    label {
      margin         : 0 30px 0 0;
      color          : $color-gray-darker;
      vertical-align : middle;
      text-transform : uppercase;
      font-weight    : 500;
      }
    }

  @media print {
    margin  : 0;
    padding : 0;
    }
  }
