.type-box {
  .listing-container {
    @media (max-width : $screen-xs-max) {
      margin : 0 0 30px 0;
      width  : 100%;
      }
    }
  }

.listing-detail {
  margin-top : 52px;
  }

.listing-detail-section {
  margin : 0 0 60px 0;
  }

#listing-detail-section-social {
  a {
    margin           : 0 10px 0 0;
    padding          : 5px 8px;
    background-color : $color-primary;
    color            : $color-white;
    text-transform   : capitalize;
    font-weight      : 600;
    font-size        : 12px;

    &:hover {
      background-color : darken($color-primary, 5%);
      }
    }

  i {
    display          : inline-block;
    width            : 32px;
    height           : 32px;
    background-color : rgba(black, .07);
    text-align       : center;
    font-size        : 15px;
    line-height      : 32px;
    }
  }

.listing-detail-attributes {
  @extend .clearfix;
  margin           : 0 0 30px 0;
  padding          : 30px;
  background-color : $color-white;

  ul {
    margin     : 0;
    padding    : 0;
    list-style : none;

    li {
      display       : block;
      float         : left;
      width         : 47%;
      border-bottom : 1px dashed $color-gray-medium;
      line-height   : 40px;

      &:nth-child(even) {
        float : right;
        }

      strong.key {
        font-weight : 400;
        font-size   : 13px;
        }

      span.value {
        display     : block;
        float       : right;
        color       : $color-black;
        font-weight : 500;
        font-size   : 13px;
        line-height : 40px;
        }

      @media (max-width : $screen-sm-max) {
        width : 100%;
        }
      }
    }

  .listing-color {
    display        : inline-block;
    width          : 15px;
    height         : 15px;
    vertical-align : -4px;
    }
  }

.listing-detail-contact {
  @extend .clearfix;
  margin           : 0 0 30px 0;
  padding          : 30px;
  background-color : $color-white;

  ul {
    margin     : 0;
    padding    : 0;
    list-style : none;

    li {
      display     : block;
      float       : left;
      width       : 100%;
      line-height : 40px;

      &:nth-child(even) {
        float : right;
        }

      strong.key {
        display     : inline-block;
        float       : left;
        width       : 33%;
        font-weight : 400;
        font-size   : 13px;
        }

      span.value {
        display     : block;
        float       : right;
        width       : 66%;
        color       : $color-black;
        text-align  : left;
        font-weight : 500;
        font-size   : 13px;
        line-height : 40px;
        }

      @media (max-width : $screen-sm-max) {
        width : 100%;
        }
      }
    }

  .listing-color {
    display : inline-block;
    width   : 15px;
    height  : 15px;
    }
  }

#listing-detail-section-description {
  h3, h4, h5, h6 {
    margin-top    : 25px;
    margin-bottom : 10px;
    }

  li {
    line-height : 1.7;
    }
  }

.listing-detail-section-faq-list {
  padding          : 30px;
  background-color : $color-white;

  dt {
    padding       : 0 0 12px 0;
    border-bottom : 1px solid rgba(black, .02);
    color         : $color-black;
    font-weight   : 400;
    font-size     : 16px;
    }

  dd {
    margin      : 20px 0;
    padding     : 10px 0 10px 30px;
    border-left : 2px solid $color-primary;

    &:last-child {
      margin-bottom : 0;
      }
    }
  }

.listing-detail-menu-wrapper {
  min-height : 44px;
  }

.listing-detail-menu {
  top              : 0;
  right            : 0;
  left             : 0;
  z-index          : 998;
  margin-right     : -750px;
  margin-left      : -750px;
  padding-right    : 750px;
  padding-left     : 750px;
  background-color : rgba($color-black-light, .9);

  &.affix {
    @media (max-width : $screen-xs-max) {
      position : relative;
      }

    @media (min-width : $screen-sm-min) {
      .admin-bar & {
        top : 32px;
        }

      .header-sticky & {
        top : 60px;
        }

      .admin-bar.header-sticky & {
        top : 92px;
        }
      }
    }

  ul {
    position   : relative;
    margin     : 0;
    padding    : 0;
    color      : rgba($color-white, .85);
    list-style : none;
    font-size  : 13px;

    li {
      display : inline-block;
      margin  : 0 40px 0 0;

      a {
        display       : block;
        padding       : 14px 0 12px 0;
        border-bottom : 2px solid transparent;
        border-radius : 0;
        color         : rgba($color-white, .85);

        &:active, &:focus, &:hover {
          background-color : transparent;
          color            : $color-white;
          }
        }

      &.active {
        a {
          border-bottom    : 2px solid $color-primary;
          background-color : transparent;

          &:active, &:focus, &:hover {
            background-color : transparent;
            color            : $color-white;
            }
          }
        }

      &:last-child {
        margin-right : 0;
        }

      &.listing-detail-section-attributes,
      &.listing-detail-section-social,
      &.listing-detail-section-property-amenities,
      &.listing-detail-section-property-valuation,
      &.listing-detail-section-property-public-facilities,
      {
        display : none;
        }
      }
    }
  }

.listing-detail-property-amenities ul {
  margin-top    : -10px;
  margin-bottom : 0;
  padding-left  : 0;
  list-style    : none;

  li {
    display     : inline-block;
    text-align  : justify;
    line-height : 3;

    a {
      margin-right     : 15px;
      padding          : 6px 12px;
      border-radius    : 2px;
      background-color : $color-white;
      color            : $color-gray-dark;
      font-size        : 14px;

      &:before {
        display                : inline-block;
        margin-right           : 5px;
        color                  : $color-gray-dark;
        content                : "\f00d";
        vertical-align         : 2px;
        text-align             : center;
        font-size              : 10px;
        font-family            : fontawesome;
        line-height            : 1;
        -webkit-font-smoothing : antialiased;
        }

      &:hover {
        background-color : $color-gray-medium;
        color            : $color-gray-darker;

        &:before {
          color : $color-gray-darker;
          }
        }

      &:focus {
        text-decoration : none;
        }
      }

    &.yes a {
      border-color     : $color-primary;
      background-color : $color-primary;
      color            : $color-white;
      font-weight      : 500;

      &:before {
        color   : $color-white;
        content : "\f00c";
        }

      &:hover {
        background-color : darken($color-primary, 6%);
        }
      }
    }
  }

.amenities {
  @extend .clearfix;
  margin  : 0;
  padding : 0;

  li {
    float  : left;
    margin : 10px 0 !important;
    width  : 33%;
    }
  }

.widget_listing_details {
  padding          : 15px;
  background-color : $color-white;
  font-weight      : 300;
  font-size        : 17px;

  strong {
    color       : $color-black;
    font-weight : 500;
    }

  i {
    margin : 0 10px 0 0;
    }

  .widget-inner > div {
    margin : 10px 0;

    &:first-child {
      margin-top : 0;
      }

    &:last-child {
      margin-bottom : 0;
      }
    }

  .inventor-favorites-total {
    i {
      color : $color-red;
      }
    }

  .inventor-statistics-total-post-views {
    i {
      color : $color-primary;
      }
    }

  .inventor-reviews-total-rating {
    i {
      color : $color-yellow;
      }

    a {
      padding-bottom : 2px;
      border-bottom  : 1px dashed $color-gray-dark;
      color          : $color-gray-darker;
      }
    }

  .detail-actions {
    margin-top : 12px;
    }
  }

#listing-detail-section-gallery {
  margin-top : -12px;

  .page-header {
    display : none;
    }
  }

.listing-detail-gallery {
  a {
    visibility : hidden;
    }

  .owl-item a {
    visibility : visible;
    }

  .item-image {
    display             : block;
    height              : 450px;
    background-position : center center;
    background-size     : 100% auto;
    background-repeat   : no-repeat;

    @media (min-width : $screen-md-min) and (max-width : $screen-md-max) {
      height : 380px;
      }

    @media (min-width : $screen-sm-min) and (max-width : $screen-sm-max) {
      height : 300px;
      }

    @media (max-width : $screen-xs-max) {
      height : 250px;
      }
    }
  }

.listing-detail-gallery-preview {
  padding          : 0 50px;
  background-color : $color-white;

  .owl-item {
    border-bottom : 2px solid transparent;
    cursor        : pointer;
    transition    : all linear .15s;

    &.highlighted {
      border-color : $color-primary;
      }

    div {
      display : block;
      margin  : 0 10px;
      padding : 20px 0 14px;

      @media (min-width : $screen-md-min) and (max-width : $screen-md-max) {
        margin : 0 7px;
        }

      @media (min-width : $screen-sm-min) and (max-width : $screen-sm-max) {
        margin : 0 5px;
        }

      @media (max-width : $screen-xs-max) {
        margin : 0 4px;
        }
      }
    }

  .owl-stage {
    margin-right : auto;
    margin-left  : auto;
    }

  .owl-next, .owl-prev {
    @extend .btn-primary;

    position          : absolute;
    top               : 50%;
    display           : block !important;
    padding           : 0;
    line-height       : 1;
    transition        : all linear .15s;
    -webkit-transform : translateY(-50%);
    transform         : translateY(-50%);

    i {
      margin           : 0;
      padding          : 3px 0;
      height           : auto;
      background-color : transparent;
      font-size        : 18px;
      transition       : all linear .15s;
      }

    &:hover {
      background-color : $color-primary;

      i {
        color : $color-white;
        }
      }
    }

  .owl-next {
    right   : -34px;
    padding : 5px 9px 4px 10px;
    }

  .owl-prev {
    left    : -34px;
    padding : 5px 10px 4px 9px;
    }
  }

.video-embed-wrapper {
  position    : relative;
  padding-top : 56.25%;
  width       : 100%;
  height      : 0;

  iframe {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    }
  }

.listing-detail-location-wrapper {
  padding          : 20px;
  background-color : $color-white;

  .tab-content {
    padding : 0 !important;
    }
  }

#listing-detail-location {
  border-bottom : none;

  &.nav-tabs li a {
    margin-right     : 3px;
    margin-bottom    : 4px;
    padding          : 10px 15px;
    border           : none;
    border-radius    : 0;
    background-color : $color-gray;
    color            : $color-gray-darker;
    font-size        : 13px;
    transition       : all linear .12s;

    &:hover {
      background-color : darken($color-gray, 3%);
      }
    }

  li.active a {
    background-color : $color-primary;
    color            : $color-white;

    &:hover {
      background-color : darken($color-primary, 3%);
      }
    }

  li.directions {
    float : right;

    a {
      margin-right     : 0 !important;
      background-color : $color-primary;
      color            : $color-white;

      &:hover {
        background-color : darken($color-primary, 3%);
        }
      }
    }

  i {
    display      : inline-block;
    margin-right : 10px;

    &.fa-map-o, &.fa-map {
      vertical-align : 1px;
      font-size      : 10px;
      }

    &.fa-street-view {
      font-size : 12px;
      }

    &.fa-compass, &.fa-map-signs {
      vertical-align : -2px;
      font-size      : 18px;
      }

    &.fa-level-down {
      vertical-align    : -2px;
      font-size         : 16px;
      -webkit-transform : rotate(-90deg);
      transform         : rotate(-90deg);
      }
    }
  }

#listing-detail-map, #listing-detail-street-view, #listing-detail-inside-view {
  height : 350px;

  img {
    height : auto !important;
    }
  }

.review-count {
  display          : inline-block;
  margin-top       : 1px;
  margin-left      : 6px;
  padding          : 5px 4px 0;
  min-width        : 24px;
  height           : 24px;
  border-radius    : 12px;
  background-color : darken($color-gray-medium, 5%);
  color            : $color-white;
  vertical-align   : top;
  text-align       : center;
  font-weight      : 400;
  font-size        : 14px;
  }

.listing-detail-menu .review-count {
  margin-top       : -1px;
  margin-left      : 4px;
  padding          : 2px 4px 0;
  min-width        : 18px;
  height           : 18px;
  background-color : $color-gray-light;
  color            : $color-gray-darker;
  font-weight      : 500;
  font-size        : 11px;
  }

.detail-verified {
  display          : inline-block;
  margin           : 0 0 0 10px;
  padding          : 3px 15px;
  background-color : $color-green;
  color            : $color-white;
  text-align       : center;
  text-shadow      : none;
  font-size        : 13px;
  }

.detail-payments {
  margin     : 50px 0;
  border-top : 1px solid $color-gray-medium;

  h3 {
    margin-top : 35px;
    color      : $color-gray-darker;
    text-align : center;
    font-size  : 18px;
    }

  ul {
    margin     : 0;
    padding    : 0;
    text-align : center;

    li {
      display   : inline-block;
      margin    : 0 15px;
      font-size : 34px;

      a {
        color : rgba(black, .25);

        &:hover {
          color : rgba(black, .35);
          }
        }
      }
    }
  }

#listing-detail-section-opening-hours {
  @media (max-width : $screen-xs-max) {
    overflow-x : scroll;
    width      : 100%;

    .opening-hours.horizontal {
      margin : 0;
      }
    }
  }

.opening-hours {
  background-color : $color-white;

  th, td {
    padding          : 10px 15px;
    border           : 0;
    background-color : $color-white;
    font-size        : 12px;
    }

  &.horizontal {
    th, td {
      border-right : 1px solid $color-gray;
      text-align   : center;

      &:last-child {
        border-right : 0;
        }

      @media (max-width : $screen-xs-max) {

        }
      }
    }

  th {
    color          : $color-gray-darker;
    text-transform : capitalize;
    font-weight    : normal;
    }

  td {
    color       : $color-black;
    white-space : nowrap;

    &.open {
      color       : $color-primary;
      font-weight : 500;
      }

    &.closed {
      color       : $color-red;
      font-weight : 500;
      }

    span {
      display : block;
      }
    }
  }

.widget_opening_hours {
  .alert {
    margin     : 0 0 30px 0;
    padding    : 10px;
    text-align : center;
    }
  }

.listing-report {
  padding    : 15px 0;
  border-top : 1px solid $color-gray-medium;
  text-align : center;
  }

.listing-report-btn {
  color     : $color-gray-darker;
  font-size : 12px;

  .fa {
    margin     : 0 10px 0 0;
    font-size  : 14px;
    transition : color .15s linear;
    }

  &:active, &:hover, &:focus {
    color : $color-red;
    }
  }

.listing-detail-food-wrapper {
  padding          : 30px;
  background-color : $color-white;

  h3 {
    position       : relative;
    margin         : 50px 0;
    padding        : 0;
    color          : $color-black-light;
    text-transform : uppercase;
    font-weight    : 500;
    font-size      : 13px;

    &:first-child {
      margin-top : 0;
      }

    &:after {
      position         : absolute;
      top              : 50%;
      right            : 0;
      left             : 0;
      z-index          : 1;
      display          : block;
      height           : 1px;
      background-color : $color-gray;
      content          : '';
      }

    span {
      position         : relative;
      z-index          : 2;
      padding          : 0 20px 0 0;
      background-color : $color-white;
      }
    }
  }

.listing-detail-food {
  @extend .clearfix;

  margin        : 0 0 25px 0;
  padding       : 0 0 25px 0;
  border-bottom : 1px dashed $color-gray-medium;

  &:last-child {
    margin-bottom  : 0;
    padding-bottom : 0;
    border-bottom  : 0;
    }

  h4 {
    float       : left;
    margin      : 7px 0 0 0;
    padding     : 0;
    font-weight : 400;
    font-size   : 15px;
    }
  }

.listing-detail-food-speciality {
  float            : left;
  margin           : 6px 0 0 15px;
  padding          : 2px 6px;
  background-color : $color-green;
  color            : $color-white;
  text-transform   : uppercase;
  font-weight      : 700;
  font-size        : 10px;
  }

.listing-detail-food-serving {
  float            : left;
  margin           : 6px 15px 0 0;
  padding          : 2px 6px;
  background-color : $color-black-light;
  color            : $color-white;
  text-transform   : uppercase;
  font-weight      : 700;
  font-size        : 10px;

  &.today {
    background-color : $color-primary;
    }
  }

.listing-detail-food-photo {
  float           : left;
  margin          : 0 20px 0 0;
  width           : 70px;
  height          : 50px;
  background-size : cover;
  }

.listing-detail-food-content {
  float : left;
  }

.listing-detail-food-description {
  float     : left;
  clear     : both;
  margin    : 5px 0 0 0;
  font-size : 12px;

  p {
    margin : 0;
    }
  }

.listing-detail-food-price {
  float       : right;
  margin-top  : 10px;
  color       : $color-primary;
  font-weight : 500;
  font-size   : 20px;
  }

/*******************************************************************
 * Property Valuation
 *******************************************************************/

.listing-detail-property-valuation-item {
  margin-bottom : 15px;
  }

.listing-detail-property-valuation dt {
  display     : inline-block;
  width       : 140px;
  font-weight : normal;
  }

.listing-detail-property-valuation dd {
  position : relative;
  display  : inline-block;
  margin   : 0 15px 0 0;
  width    : 60%;
  height   : 15px;
  }

.listing-detail-property-valuation dd .bar-valuation {
  height           : 100%;
  background-color : $color-primary;
  }

.listing-detail-property-valuation dd span {
  margin-left      : 40px;
  background-color : rgba(0, 0, 0, .1);
  }

.listing-detail-property-valuation dd strong {
  display     : block;
  margin      : 0 0 0 10px;
  font-weight : normal;
  font-size   : 14px;
  line-height : 30px;
  }

/*******************************************************************
 * Property Facilities
 *******************************************************************/
.listing-detail-property-public-facilities {
  overflow : hidden;
  }

.listing-detail-property-public-facility-wrapper {
  float          : left;
  padding-bottom : 20px;
  width          : 50%;
  }

.listing-detail-property-public-facility-wrapper:nth-child(2n+1) {
  padding-right : 10px;
  }

.listing-detail-property-public-facility-wrapper:nth-child(2n+2) {
  padding-left : 10px;
  }

.listing-detail-property-public-facility {
  overflow         : hidden;
  border           : solid 1px $gray-lighter;
  background-color : $color-white;
  }

.listing-detail-property-public-facility-info {
  float            : left;
  width            : 30%;
  background-color : $gray-lighter;
  text-align       : center;
  line-height      : 3;
  }

.listing-detail-property-public-facility-title {
  float       : right;
  padding     : 0 20px 0 20px;
  width       : 70%;
  line-height : 3;
  }
