.listing-author {
  padding          : 20px;
  background-color : $color-white;
  text-align       : center;
  }

.listing-author-image {
  margin-bottom : 10px;

  img {
    overflow      : hidden;
    border-radius : 50%;
    }
  }

.listing-author-name {
  margin-bottom : 10px;
  color         : $color-gray-darker;
  font-weight   : 300;
  font-size     : 17px;
  }

.listing-author-contact {
  margin-bottom : 20px;

  a {
    display       : inline-block;
    margin        : 0 5px;
    border-bottom : 1px solid $color-primary;
    font-size     : 13px;
    }
  }

.listing-author-social {
  padding    : 20px 0 0 0;
  border-top : 1px solid $color-gray-medium;

  i {
    margin        : 0 4px;
    width         : 32px;
    height        : 32px;
    border-radius : 50%;
    text-align    : center;
    font-size     : 15px;
    line-height   : 32px;
    }
  }
