.modal-inner {
  display : none;
  }

.modal-screen {
  visibility : hidden;
  transition : all linear .2s;

  &.open {
    position         : fixed;
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    z-index          : 9999;
    visibility       : visible;
    background-color : rgba(black, .9);
    }

  .modal-close {
    position   : absolute;
    top        : 10%;
    right      : 6%;
    color      : rgba($color-white, .8);
    font-size  : 32px;
    cursor     : pointer;
    transition : color .15s linear;

    &:hover {
      color : $color-white;
      }
    }

  .modal-inner {
    position          : absolute;
    top               : 50%;
    left              : 50%;
    display           : block;
    background-color  : transparent;
    -webkit-transform : translateX(-50%) translateY(-50%);
    transform         : translateX(-50%) translateY(-50%);

    h2 {
      margin      : 0 0 120px 0;
      color       : $color-white;
      text-align  : center;
      font-weight : 400;
      font-size   : 52px;
      }

    ul {
      margin     : 0;
      padding    : 0;
      list-style : none;

      li {
        display : inline-block;
        margin  : 0 30px;
        }

      .fa {
        display          : block;
        width            : 140px;
        height           : 140px;
        border-radius    : 50%;
        background-color : rgba($color-white, .8) !important;
        color            : rgba(black, .8) !important;
        text-align       : center;
        font-size        : 60px;
        line-height      : 140px;

        &:active, &:hover, &:focus {
          border           : 0;
          background-color : $color-white !important;
          color            : rgba(black, .8) !important;
          }
        }
      }
    }
  }
