.payment-info {
  margin           : 0 0 30px 0;
  padding          : 30px;
  border           : 1px solid darken($color-green, 3%);
  background-color : $color-green;
  color            : $color-white;
  font-weight      : 300;
  font-size        : 16px;

  strong {
    color       : $color-white;
    font-weight : 400;
    }
  }

.payment-form {
  margin : 0 0 30px 0;

  &:after {
    display : block;
    clear   : both;
    content : '';
    }
  }

.payment-form-bottom {
  clear    : both;
  overflow : hidden;

  .terms-conditions-input {
    float : left;
    }
  }

.gateway {
  margin : 0 0 15px 0;
  }

.gateway-header {
  margin           : 0 0 15px 0;
  padding          : 20px;
  border           : 1px solid darken($color-gray-light, 3%);
  background-color : $color-white;

  label {
    margin : 0;
    }
  }

.gateway-content {
  display : none;

  label {
    display : block;
    }

  &:after {
    display : block;
    clear   : both;
    content : '';
    }
  }

.payment-back {
  display     : block;
  float       : left;
  padding-top : 7px;

  a {
    border-bottom   : 1px solid $color-primary;
    text-decoration : none;

    &:hover {
      color           : $color-primary;
      text-decoration : none !important;
      }
    }
  }

.payment-process {
  @extend .btn;

  float : right;
  }

.gateway-paypal-credit-card-first-name {
  float : left;
  clear : left;
  width : 48%;
  }

.gateway-paypal-credit-card-last-name {
  float : right;
  clear : right;
  width : 48%;
  }

.gateway-paypal-credit-card-number {
  float : left;
  width : 48%;
  }

.gateway-paypal-credit-card-cvv {
  float       : left;
  margin-left : 4%;
  width       : 15%;
  }

.gateway-paypal-credit-card-expires {
  float       : left;
  margin-left : 4%;
  width       : 29%;
  }

.gateway-paypal-credit-card-expires-month {
  float : left !important;
  width : 48% !important;
  }

.gateway-paypal-credit-card-expires-year {
  float : right !important;
  width : 48% !important;
  }

.wire-transfer-info {
  margin-bottom : 20px;

  dt {
    color : $color-black-light;
    }
  }

.wire-transfer-section-one {
  float : left;
  width : 45%
  }

.wire-transfer-section-two {
  float : right;
  width : 45%
  }

.stripe-button-el {
  float            : right;
  border           : 0 !important;
  border-radius    : 0 !important;
  background-image : none !important;

  span {
    border           : 0 !important;
    background-color : transparent !important;
    background-image : none !important;
    box-shadow       : none !important;
    text-shadow      : none !important;
    }
  }

.packages {
  background-color : $color-white;
  }

.package {
  padding       : 20px;
  border-bottom : 1px solid $color-gray;

  &:last-child {
    margin-bottom : 0;
    }

  span, strong {
    font-size : 13px;
    }

  strong {
    color       : $color-gray-darker;
    font-weight : 400;
    line-height : 22px;
    }

  span {
    color : $color-black;
    }

  form {
    float : right;
    }

  button {
    float            : right;
    margin           : 2px 0 0 0;
    padding          : 0;
    min-height       : inherit;
    border-bottom    : 1px solid $color-primary;
    background-color : transparent;
    color            : $color-primary;
    font-size        : 12px;
    line-height      : 1;

    &:active, &:focus, &:hover {
      border-color     : $color-primary;
      background-color : transparent !important;
      color            : $color-primary;
      }

    &:after {
      display : none;
      }
    }
  }

.package-title {
  margin      : 0 0 10px 0;
  font-weight : 400;
  font-size   : 15px;
  }

.billing-details {
  overflow      : hidden;
  margin-bottom : 30px;

  .billing-registration-number {
    float : left;
    clear : left;
    width : 48%;
    }

  .billing-vat-number {
    float : right;
    clear : right;
    width : 48%;
    }

  .billing-country {
    float : left;
    clear : left;
    width : 48%;
    }

  .billing-county {
    float : right;
    clear : right;
    width : 48%;
    }

  .billing-city {
    float : left;
    clear : left;
    width : 48%;
    }

  .billing-postal-code {
    float : right;
    clear : right;
    width : 48%;
    }

  .billing-street-and-number {
    clear : both;
    }
  }
