.pricing-container {
  @media (max-width : $screen-xs-max) {
    margin : 0 0 30px 0;
    width  : 100% !important;
    }
  }

.pricing-inner {
  border           : 1px solid $color-gray-medium;
  background-color : $color-white;
  color            : $color-black;
  text-align       : center;

  @media (max-width : $screen-xs-max) {
    margin-bottom : 30px;
    }

  .button {
    margin-bottom : 20px;
    }

  sup {
    margin         : 0 5px 0 0;
    vertical-align : 9px;
    font-size      : 16px;
    }

  small {
    color     : $color-black;
    font-size : 16px;
    }

  &.highlighted {
    margin-top : -2px;
    border     : 3px solid $color-primary;

    .button {
      @extend .btn-secondary;
      }
    }
  }

.pricing-header {
  padding       : 25px;
  border-bottom : 1px solid $color-gray-medium;
  }

.pricing-title {
  margin      : 0 0 5px 0;
  font-weight : 400;
  font-size   : 20px;
  line-height : 1.4;
  }

.pricing-description {
  color       : rgba($color-black-light, .5);
  font-weight : 400;
  font-size   : 14px;
  line-height : 1.4;
  }

.pricing-price {
  margin      : 25px 0 30px 0;
  font-weight : 400;
  font-size   : 40px;
  line-height : 1.4;
  }

ul.pricing-list {
  padding    : 35px 25px;
  list-style : none;

  li {
    margin-bottom : 15px;
    border-bottom : none;
    font-weight   : bold;
    font-size     : 17px;

    &:last-child {
      margin-bottom : 0;
      }
    }

  small {
    display       : block;
    margin-bottom : 5px;
    color         : $color-gray-dark;
    font-weight   : 400;
    font-size     : 13px;
    }
  }
