.promotion {
  @extend .clearfix;

  position         : relative;
  margin-bottom    : 80px;
  padding          : 30px;
  border-bottom    : 3px solid darken($color-primary, 5%);
  background-color : $color-primary;

  h1 {
    margin      : 10px 0 0 0;
    color       : $color-white;
    font-weight : 300;
    font-size   : 30px;
    }

  h2 {
    margin    : 8px 0 0 0;
    color     : rgba(black, .4);
    font-size : 16px;
    }
  }

.promotion-icon {
  float  : left;
  margin : 0 30px 0 0;
  height : 70px;
  color  : $color-white;

  i {
    font-size : 80px;
    }
  }

.promotion-btn {
  position          : absolute;
  top               : 50%;
  right             : 30px;
  -webkit-transform : translateY(-50%);
  transform         : translateY(-50%);
  }
