.nav-tabs {
  border : 0;

  li {
    padding : 0 !important;
    border  : 0 !important;

    @media (max-width : $screen-xs-max) {
      background-color : rgba(black, .03);
      float            : none;
      }

    a {
      display       : block;
      margin        : 0;
      padding       : 15px 25px;
      border        : 0 !important;
      border-radius : 0 !important;
      color         : $color-gray-darker;
      font-weight   : 400;
      }

    &.active {
      a {
        border           : 0 !important;
        background-color : $color-white;
        color            : $color-black;
        font-weight      : 500;
        }
      }
    }
  }

.tab-content {
  @extend .clearfix;

  padding          : 20px 10px;
  background-color : $color-white;

  ul {
    @extend .row;
    position : relative;
    overflow : hidden;

    &:after {
      position         : absolute;
      right            : 0;
      bottom           : 0;
      left             : 0;
      display          : block;
      height           : 1px;
      background-color : $color-white;
      content          : '';
      }
    }

  li {
    @extend .col-sm-4, .col-md-3;
    display : block;
    padding : 0 15px !important;
    border  : 0 !important;
    color   : $color-black;

    a {
      display       : block;
      padding       : 8px 0;
      border-bottom : 1px dashed $color-gray-medium;
      color         : $color-black;

      span {
        display        : inline-block;
        margin         : 0 0 0 5px;
        color          : $color-gray-darker;
        vertical-align : 1px;
        font-size      : 11px;
        }

      &:before {
        display        : inline-block;
        margin         : 0 13px 0 0;
        color          : $color-primary;
        content        : '\f10c';
        vertical-align : 2px;
        font-size      : 6px;
        font-family    : 'FontAwesome';
        }

      &:after {
        display      : block;
        float        : right;
        margin-top   : 5px;
        margin-right : 5px;
        color        : $color-gray-dark;
        content      : '\f054';
        font-size    : 8px;
        font-family  : 'FontAwesome';
        }
      }
    }
  }
