.testimonial {
  margin : 0 0 30px 0;

  &:last-of-type {
    margin-bottom : 0;

    @media (max-width : $screen-xs-max) {
      margin-bottom : 30px;
      }
    }
  }

.testimonial-image {
  position                   : relative;
  float                      : left;
  overflow                   : hidden;
  width                      : 80px;
  height                     : 80px;
  border-radius              : 50%;
  background-position        : center center;
  background-size            : cover;
  background-repeat          : no-repeat;
  -webkit-backface-visiblity : hidden;

  &:after {
    position         : absolute;
    top              : 0;
    right            : 0;
    bottom           : 0;
    left             : 0;
    display          : block;
    border-radius    : 50%;
    background-image : radial-gradient(transparent 30%, rgba(black, .1));
    content          : '';
    }

  @media (max-width : $screen-xs-max) {
    height : 50px;
    width  : 50px;

    img {
      height : 50px;
      width  : 50px;
      }
    }
  }

.testimonial-inner {
  position         : relative;
  margin           : 0 0 0 120px;
  padding          : 20px;
  border           : 2px solid $color-gray;
  background-color : $color-white;
  line-height      : 28px;

  &:before {
    position           : absolute;
    top                : 20px;
    left               : -42px;
    display            : block;
    border             : 20px solid transparent;
    border-right-color : $color-gray;
    content            : '';
    }

  &:after {
    position           : absolute;
    top                : 21px;
    left               : -38px;
    display            : block;
    border             : 19px solid transparent;
    border-right-color : $color-white;
    content            : '';
    }

  @media (max-width : $screen-xs-max) {
    margin : 0 0 0 70px;

    &:after, &:before {
      display : none;
      }
    }
  }

.testimonial-title {
  @extend .clearfix;

  margin        : 0 0 20px 0;
  padding       : 0;
  min-height    : 60px;
  border-bottom : 1px solid $color-gray;

  h2 {
    float          : left;
    margin         : 13px 0 0 0;
    text-transform : uppercase;
    font-weight    : 500;
    font-size      : 15px;
    }
  }

.testimonial-rating {
  float      : right;
  margin-top : 7px;
  color      : $color-yellow;
  }

.testimonial-sign {
  margin-top  : 15px;
  color       : $color-black-light;
  text-align  : right;
  font-weight : 500;
  font-style  : italic;
  font-size   : 13px;
  }

.testimonial-content p {
  line-height : 28px;
  }
