body.layout-boxed {
  #video-cover-wrap, #video-cover {
    width : auto !important;
    }
  }

.widget_video_cover {
  position : relative;
  }

.video-cover {
  position            : relative;
  overflow            : hidden;
  height              : 550px;
  background-position : center center;
  background-size     : cover;
  background-repeat   : no-repeat;

  video {
    position : absolute;
    width    : 100%;
    }
  }

.video-wrapper-overlay {
  position         : absolute;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  z-index          : 10;
  display          : block;
  background-color : #000000;
  content          : '';
  opacity          : 0.4;
  }

.video-cover-title {
  position          : absolute;
  top               : 50%;
  left              : 50%;
  z-index           : 91;
  color             : $color-white;
  text-align        : center;
  -webkit-transform : translateX(-50%) translateY(-50%);
  transform         : translateX(-50%) translateY(-50%);

  h1, h2 {
    color       : $color-white;
    text-shadow : 1px 1px 1px rgba(black, .2);
    }

  h1 {
    margin      : 0;
    font-weight : 300;
    font-size   : 60px;
    }

  h2 {
    color       : rgba(white, .9);
    font-weight : 400;
    font-size   : 23px;
    line-height : 40px;
    }
  }

.video-cover-filter {
  form {
    @extend .row;

    margin-top   : 80px;
    margin-right : auto;
    margin-left  : auto;
    width        : 84%;
    }

  .dropdown-menu {
    border-color : $color-white;
    }

  .form-group {
    @extend .col-sm-4;

    .dropdown-toggle, > input {
      border-color : $color-white !important;
      }

    button {
      width : 100%;
      }
    }
  }
