#primary {
  .widget_filter {
    form {
      @extend .clearfix;
      padding : 20px 5px 5px 5px;
      }

    button {
      display : block;
      margin  : 0;
      width   : 100%;
      }

    .form-group {
      @extend .col-sm-3;

      margin-bottom : 20px;
      }

    .has-labels {
      .checkbox {
        padding-top : 23px;
        }

      button[type=submit] {
        margin-top : 23px;
        }
      }
    }
  }

.widget {
  .widgettitle {
    margin      : 0 0 60px;
    padding     : 0;
    color       : $color-black;
    text-align  : center;
    font-weight : 300;
    font-size   : 36px;
    }

  .description {
    margin      : -45px 0 60px;
    padding     : 0 20%;
    text-align  : center;
    font-size   : 15px;
    line-height : 24px;

    @media (max-width : $screen-xs-max) {
      padding : 0;
      }
    }

  .widget-inner {
    margin-right        : -750px;
    margin-left         : -750px;
    padding-right       : 750px;
    padding-left        : 750px;
    background-position : center center;
    background-size     : cover;
    }

  .widget-pt {
    padding-top : 80px;
    }

  .widget-pb {
    padding-bottom : 80px;
    }

  &:last-of-type {
    margin-bottom : 0;
    }

  img {
    max-width : 100%;
    height    : auto;
    }

  ul {
    margin     : 0;
    padding    : 0;
    list-style : none;

    li {
      padding       : 8px 0;
      border-bottom : 1px dashed rgba(black, .1);
      }
    }

  .dropdown-menu li {
    padding       : 0;
    border-bottom : none;
    }

  &.widget_archive, &.widget_categories {
    li {
      font-size : 0;

      a {
        font-size : 13px;
        }
      }
    }

  &.widget_archive, &.widget_categories, &.widget_pages, &.widget_nav_menu, &.widget_recent_entries, &.widget_meta {
    ul {
      li {
        padding-bottom : 0;
        border-bottom  : none;

        a {
          display        : block;
          padding-bottom : 8px;
          border-bottom  : 1px dashed rgba(black, .1);
          color          : $color-gray-darker;
          line-height    : 26px;
          transition     : all .15s linear;

          &:hover {
            padding-left : 5px;
            color        : $color-primary;
            }

          strong {
            color     : $color-primary;
            font-size : 11px;
            }
          }

        &:last-child {
          a {
            border-bottom : 0;
            }
          }

        li {
          padding-left : 20px;

          &:last-child {
            a {
              border-bottom : 1px dashed rgba(black, .1);
              }
            }
          }
        }
      }
    }

  .textwidget {
    line-height : 24px;
    }

  .tagcloud {
    position         : relative;
    z-index          : 0;
    display          : inline-block;
    clear            : both;
    margin           : 0;
    padding          : 20px 20px 10px;
    width            : 100%;
    background-color : $color-white;
    font-size        : 13px;

    a {
      position         : relative;
      z-index          : 3;
      display          : inline-block;
      margin-right     : 4px;
      margin-bottom    : 10px;
      margin-left      : 9px;
      padding          : 2px 6px 2px 8px;
      border-radius    : 3px;
      background-color : $color-primary;
      color            : $color-white;
      font-weight      : 300;
      font-size        : 13px !important;
      transition       : all linear .15s;

      &:before {
        position          : absolute;
        left              : -7px;
        z-index           : -1;
        display           : block;
        margin-top        : 1px;
        width             : 17px;
        height            : 16px;
        border-radius     : 3px;
        background-color  : $color-primary;
        content           : "";
        transition        : all linear .15s;
        -webkit-transform : rotate(45deg);
        transform         : rotate(45deg);
        }

      &:after {
        position         : absolute;
        top              : 8px;
        left             : -2px;
        display          : block;
        width            : 5px;
        height           : 5px;
        border-radius    : 50%;
        background-color : $color-white;
        content          : "";
        }

      &:hover {
        background-color : darken($color-primary, 10%);

        &:before {
          background-color : darken($color-primary, 10%);
          }
        }
      }
    }

  &.widget_filter {
    form {
      padding          : 20px;
      background-color : $color-white;
      }

    .form-group:last-of-type {
      margin-bottom : 0;

      button {
        @extend .btn-filter;
        @extend .btn-block;
        margin-bottom : 0;
        }
      }
    }

  &.widget_call_to_action {
    color       : $color-white;
    font-weight : 300;
    font-size   : 28px;

    .background-white {
      color : $color-black;
      }

    i {
      float     : left;
      margin    : 11px 35px 0 0;
      color     : $color-primary;
      font-size : 44px;

      @media (max-width : $screen-xs-max) {
        float  : none;
        margin : 0 0 20px 0;
        }
      }

    .btn {
      float         : right;
      margin        : 10px 0 0 0;
      padding-right : 30px;
      padding-left  : 30px;
      line-height   : 24px;

      @media (max-width : $screen-xs-max) {
        float : none;
        }
      }

    span, strong {
      display : block;
      }

    span {
      @media (max-width : $screen-xs-max) {
        margin : 0 0 20px 0;
        }
      }

    strong {
      color       : $color-gray-darker;
      font-weight : 400;
      font-size   : 17px;

      @media (max-width : $screen-xs-max) {
        float  : none;
        margin : 0 0 20px 0;
        }
      }

    .widget-pt {
      padding-top : 60px;
      }

    .widget-pb {
      padding-bottom : 60px;
      }
    }
  }

.footer-top .widget, .footer-bottom .widget, .sidebar .widget, #primary .widget {

  .widget-inner {
    margin-right  : 0;
    margin-left   : 0;
    padding-right : 0;
    padding-left  : 0;
    }
  }

.footer-top .widget, .footer-bottom .widget, .sidebar .widget {
  .widgettitle {
    margin        : 0 0 30px 0;
    border-bottom : 1px solid $color-gray-medium;
    color         : $color-gray-darker;
    text-align    : left;
    font-size     : 26px;
    line-height   : 60px;
    }

  .description {
    margin     : -10px 0 30px;
    padding    : 0;
    text-align : left;
    font-size  : 14px;
    }
  }

.sidebar .widget {
  margin-bottom : 30px;
  }

#primary .widget {
  .widgettitle {
    margin     : 0 0 40px;
    text-align : left;
    }

  .description {
    margin     : -30px 0 40px;
    padding    : 0 20%;
    text-align : left;
    }

  .widget-pt {
    padding-top : 60px;
    }

  .widget-pb {
    padding-bottom : 60px;
    }
  }

.footer-top .widget, .footer-bottom .widget {
  .widgettitle {
    border-bottom : none;
    line-height   : 1.1;
    }

  &.widget_nav_menu {
    ul {
      @extend .nav;
      @extend .nav-pills;

      li {
        padding : 0;

        a {
          padding       : 0 20px;
          border-bottom : none;
          line-height   : 1.9;

          &:hover {
            background-color : transparent;
            }
          }
        }

      ul {
        display : none;
        }
      }
    }
  }

.footer-area .widget {
  &.widget_nav_menu {
    ul {
      li {
        display : block;
        float   : none;
        margin  : 0;

        a {
          border-bottom : 1px solid rgba(white, .06);
          }

        &:last-child {
          a {
            border : 0;
            }
          }
        }
      }
    }
  }

.footer-top .widget {
  &.widget_nav_menu .menu li a {
    margin-right : 30px;
    padding      : 0;

    &:hover {
      color : $color-primary;
      }

    &:active, &:focus, &:hover {
      background-color : transparent;
      }

    i {
      margin-right     : -15px;
      width            : 24px;
      height           : 24px;
      border-radius    : 50%;
      background-color : $color-primary;
      text-align       : center;
      font-size        : 12px;
      line-height      : 25px;
      }
    }

  @media (max-width : $screen-xs-max) {
    padding : 8px 0;

    &:active, &:focus, &:hover {
      background-color : transparent;
      }
    }
  }

.widget_dashboard_navigation {
  ul {
    padding          : 20px;
    background-color : $color-white;

    li {
      &:last-child {
        border-bottom : 0;
        }
      }
    }
  }
