$color-style-blue : #0a83b6;
$color-style-blue-dark : #033c55;
$color-style-blue-gray : #607d8b;
$color-style-blue-light : #06a7ea;
$color-style-brown : #bb6733;
$color-style-green : #25b45b;
$color-style-green-dark : #419a66;
$color-style-lime : #cddc39;
$color-style-magenta : #bf224e;
$color-style-mint : #009f8b;
$color-style-orange : #f2944e;
$color-style-pink : #e91e63;
$color-style-purple : #8e5c90;
$color-style-purple-dark : #623c68;
$color-style-red : #bb2a2a;
$color-style-turquoise : #36b0bb;